* {
    margin: 0;
    padding: 0;           
}
section{
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgb(255, 29, 29), rgb(60, 183, 255), rgb(255, 113, 108),rgb(200, 18, 255));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease infinite;

}

@keyframes cambiar {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content-respuesta .texto{
    color: #353535;
    margin-bottom: 10px;
    font-size: 20px;
}
.content-respuesta{
    padding: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all ease;
    background: #f5f5f5;
    -webkit-box-shadow: 3px 3px 10px 0px #000000;
    -moz-box-shadow: 3px 3px 10px 0px #000000;
    box-shadow: 3px 3px 10px 0px #000000;
}
.content-respuesta:hover{
    transform: scale(1.1);
    border: 1px solid #0e419d;
}
.content-respuesta .texto{
    text-align: center;
    display: block;
}

.content-modal{
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgb(255, 29, 29), rgb(60, 183, 255), rgb(255, 113, 108),rgb(200, 18, 255));
    animation: cambiar 10s ease infinite;
}
.content-modal .content-result{
    padding: 20px;
    font-size: 20px;
    background: #f5f5f5;
    color: #353535;
    -webkit-box-shadow: 3px 3px 10px 0px #000000;
    -moz-box-shadow: 3px 3px 10px 0px #000000;
    box-shadow: 3px 3px 10px 0px #000000;
    border-radius: 5px;
}